html {
    font-family: sans-serif;
    background-image: url('darkGreenLeaves.jpg'); 
}
h1 {
    font-size: 3rem;
    color: white;
    display: flex;
    height: 100%;
    place-items: center;
    place-content: center;
}
h2 {
    color: white;
    margin-bottom: 0.5rem;
    display: flex;
    place-items: center;
    place-content: center;
}
.subheader {
    color: white;
    display: flex;
    height: 100%;
    place-items: center;
    place-content: center;
}
p {
    color: white;
}
.headerContainer {
    background-color: rgba(69, 69, 69, 0.8);
    padding: 1rem;
    margin: 0rem 1rem;
}
.hobbiesContainer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    place-items: center;
    place-content: center;
}
.hobbiesPannel {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: rgba(69, 69, 69, 0.8);
    padding: 1rem;
    margin: 1rem;
}
.hobbiesList {
    color: white;
}


.monkeyInfo {
    color: white;
    background-color: rgba(69, 69, 69, 0.8);
    padding: 1rem;
    margin: 4rem auto 1rem;
    width: fit-content;
    display: flex;
    height: 100%;
    place-items: center;
    place-content: center;
}

.monkeyScroller{
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.monkeyContainer {
    
}